html, body {
    margin: 0px;
    padding: 0px;
}

:root {
    --bg__color:#060612;
    --primary__base--white:#ffffff;
    --gradient__primary: linear-gradient(90deg, #FFF 0%, #AA91FC 100%);
    --gradient__secondary:linear-gradient(184deg, #FCDAAF -13.03%, #7651B6 20.24%, #060612 85.81%);
    --gradient__buttons:linear-gradient(90deg,#FCDAAF,#B488FF);
    --gradient__buttons--outline:linear-gradient(90deg,#FCDAAF,#FFFFFF);
    --height__large:1300px;
    --height__medium:1000px;
    --heigh__small:700px;
    --font__Primary:'Futura Hv BT', sans-serif;
    --font__Secondary:'Quicksand',sans-serif;
    --font__text__small:18px;
    --font__text__medium:24px;
    --font__text__large:32px;
}

body {
    background-color: var(--bg__color);
}

a{
    text-decoration: none;
}

@font-face {
    font-family: 'Futura Hv BT';
    src: url(./fonts/Futura\ Heavy\ BT.ttf);
}

@font-face {
    font-family: 'Futura Book BT';
    src: url(./fonts/Futura\ Book\ BT.ttf);
}

@font-face {
    font-family: 'Futura Hv Heavy';
    src: url(./fonts/Futura\ Hv\ Heavy.ttf);
}

.title__h1 {
    font-family: var(--font__Primary);
    font-size: 128px;
    margin: 0px;
    font-weight: 100;
    background-image: var(--gradient__primary);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
}

.title__h2{
    font-family: var(--font__Primary);
    font-size: 88px;
    margin: 0px;
    color: var(--primary__base--white);
    font-weight: 100;
    text-align: center;
}

.title__h3{
    font-family: var(--font__Primary);
    font-size: 32px;
    margin: 0px;
    color: var(--primary__base--white);
    font-weight: 100;
    text-align: center;
}

.text__small{
    font-family: var(--font__Secondary);
    font-size: var(--font__text__small);
    text-align: center;
    color: var(--primary__base--white);
    font-weight: 300;
    margin: 0;
}


.text__medium {
    font-family: var(--font__Secondary);
    font-size: var(--font__text__medium);
    min-width:50%;
    max-width: 1160px;
    text-align: center;
    color: var(--primary__base--white);
    font-weight: 300;
    margin: 0;
}

.btn__regular{
    background-image: var(--gradient__buttons);
    color: var(--bg__color);
    font-family: var(--font__Secondary);
    font-size: 24px;
    font-weight: 500;
    border-radius: 150px;
    padding: 12px 16px;
    outline: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 16px;
    width: fit-content;
    height: fit-content;
    
} 

.icon__small{
    fill: var(--primary__base--white);
    width: 24px;
}

.btn__regular--outline{
    background-image: var(--gradient__buttons--outline);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: var(--font__Secondary);
    font-size: 24px;
    font-weight: 500;
    border-radius: 150px;
    padding: 12px 16px;
    border: white solid 1px;
    cursor: pointer;
    gap: 16px;
    display: flex;
    height: fit-content;
    width: fit-content;
}


.header{
    opacity: 0;
    visibility: hidden;
    transition: ease;
    transition-duration: 1s;
    display: flex;
    margin-bottom: -100px;
}

.header--visible{
    opacity: 1;
    display: flex;
    position: sticky;
    top: 0;
    background-color: #FFFFFF30;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    padding: 16px 12%;
    flex-direction: row;
    align-items: center;
    transition: ease-out;
    transition-duration: 1s;
    justify-content: space-between;

}

.header__leftcontainer{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
}

.header__rightcontainer{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.maincontent__container__top{
    background-image: 
      url(/media/Asset__noise.png),
      var(--gradient__secondary);
    height: var(--heigh__small);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: gradientAnimation 5s linear infinite;
    background-repeat: repeat;
    flex-direction: column;
    gap: 32px;
    
}

.maincontent__container__top--buttoncontainer{
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-top: 32px;
}

.maincontent__container__bottom{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 124px;
    flex-direction: column;
    gap: 56px;
}

.maincontent__container__bottom--img{
    width: calc(80% - (124px * 2));
    object-fit: contain;
    border-radius: 50px;
    
}


.gallerycontainer{
    display: flex;
    height: fit-content;
    width: 100%;
}

.gallerycontainer__innercontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.gallerycontainer__innercontainer__bottom--tabsbutton{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.gallerycontainer__innercontainer__bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 40px;
    width: 100%;
}

.tab__button--active{
    background-color: #C09FFF;
    font-family: var(--font__Secondary);
    font-weight: 300;
    border-radius: 32px;
    font-size: var(--font__text__medium);
    padding: 16px 32px;
    border: none;
    min-width: 160px;
    cursor: pointer;
    transition: ease;
    transition-duration: 0.5s;
}

.tab__button{
    border: solid 1px #C09FFF;
    color: #C09FFF;
    font-family: var(--font__Secondary);
    font-weight: 300;
    border-radius: 32px;
    background-color: transparent;
    border-radius: 32px;
    font-size: var(--font__text__medium);
    padding: 16px 32px;
    min-width: 160px;
    cursor: pointer;
}

.gallerycontainer__innercontainer__bottom--tabscontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gallerycontainer__innercontainer__bottom--tabscontent img {
    width: 100%;
    object-fit: cover;
    border-radius: 24px;
    cursor: pointer;
}

.gallerycontainer__innercontainer__bottom--tabscontent-tab{
    display: none;
}

.gallerycontainer__innercontainer__bottom--tabscontent-tabvisible{
    display: grid;
    justify-items: center;
    grid-template-columns:1fr 1fr;
    align-items: center;
    width: 95%;
    gap: 40px;
    padding-bottom: 98px;
    
}

.tabmobile{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.lightbox{
    display: none;
}

.lightbox--visible {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: #000000cf;
    top: 0;
    z-index: 1000;
    overflow: auto;
    left: 0;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    flex-direction: column;
    padding-top: 32px;

}

.lightbox--iconcontainer{
    display: flex;
    width: 80%;
    justify-content: flex-end;
    gap: 24px;
    cursor: pointer;
}

.lightbox__content{
    width: 80%;
    object-fit: contain;
}

.lightbox__content-mobile{
    width: 20%;
    object-fit: contain;
}



.prototypecontainer{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 64px;
}

.mobileimg{
    width: 30%;
}