html, body {
    margin: 0px;
    padding: 0px;
}

:root {
    --bg__color:#060612;
    --primary__base--white:#ffffff;
    --gradient__primary: linear-gradient(90deg, #FFF 0%, #AA91FC 100%);
    --gradient__secondary:linear-gradient(184deg, #FCDAAF -13.03%, #7651B6 20.24%, #060612 85.81%);
    --height__large:1300px;
    --height__medium:1000px;
    --font__Primary:'Futura Hv BT', sans-serif;
    --font__Secondary:'Quicksand',sans-serif;
    --font__text__small:18px;
    --font__text__medium:24px;
    --font__text__large:32px;
}

body {
    background-color: var(--bg__color);
}

@font-face {
    font-family: 'Futura Hv BT';
    src: url(./fonts/Futura\ Heavy\ BT.ttf);
}

@font-face {
    font-family: 'Futura Book BT';
    src: url(./fonts/Futura\ Book\ BT.ttf);
}

@font-face {
    font-family: 'Futura Hv Heavy';
    src: url(./fonts/Futura\ Hv\ Heavy.ttf);
}

.section__hero {
    background-image: 
      url(/media/Asset__noise.png),
      var(--gradient__secondary);
    height: var(--height__large);
    width: 100%;
    display: flex;
    align-items: center;
    animation: gradientAnimation 5s linear infinite;
    background-repeat: repeat;
}



@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%, 0% 0%;
  }
  100% {
    background-position: -20% 50%, 0% 0%;
  }
}

.hero__innercontainer--top-titles {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.tags__regular {
    width: fit-content;
    height: fit-content;
    padding: 16px 32px;
    background-color: var(--primary__base--white);
    border-radius: 50px;
    color: var(--bg__color);
    font-size: 32px;
    font-family: var(--font__Secondary);
}

.title__h1 {
    font-family: var(--font__Primary);
    font-size: 128px;
    margin: 0px;
    font-weight: 100;
    background-image: var(--gradient__primary);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.title__h1 span {
    color: var(--primary__base--white);
    padding-left: 16px;
}

.title__h3 {
    font-family: var(--font__Primary);
    font-size: 64px;
    margin: 0px;
    color: var(--primary__base--white);
    font-weight: 100;
    text-align: center;
}

.title__h4{
    font-family: var(--font__Secondary);
    font-size: 48px;
    margin: 0px;
    color: var(--primary__base--white);
    font-weight: 500;
    text-align: center;
}

.text__medium {
    font-family: var(--font__Secondary);
    font-size: var(--font__text__medium);
    min-width:50%;
    max-width: 1160px;
    text-align: center;
    color: var(--primary__base--white);
    font-weight: 300;
    margin: 0;
}

.text__small {
    font-family: var(--font__Secondary);
    font-size: var(--font__text__small);
    text-align: center;
    color: var(--primary__base--white);
    font-weight: 300;
    margin: 0;
}

.section__hero__innercontainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 88px;
}

.section__hero__innercontainer--top {
    gap: 0px;
}

.section__hero__innercontainer--top, .section__hero__innercontainer--bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section__hero__innercontainer--bottom {
    align-items: flex-start;
    overflow: hidden;
}

.hero__innercontainer__bottom__slider {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: max-content;
    animation: sliders 40s linear infinite;
}


.hero__slider--1, .hero__slider--2, .hero__slider--3, .hero__slider--4, .hero__slider--5, .hero__slider--6 {
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    overflow: hidden;
}

.hero__slider--1-tags{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    gap: 32px;
}

.slider-overlay--hidden {
    display: none;
}

.slider-overlay--visible {
    width: calc(100% - 48px);
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 18.27%, #000 92.31%);
}

.hero__slider--1-innercontent, .hero__slider--2-innercontent, .hero__slider--3-innercontent, .hero__slider--4-innercontent, .hero__slider--5-innercontent, .hero__slider--6-innercontent {
    width: calc(100% - 48px);
    height:calc(100% - 48px);
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.section__hero__innercontainer--bottom[data-animated='true'],.section__process__innercontainer--slidercontainer{
    mask-image: linear-gradient(to right, transparent, white 15%, white 100%);
    -webkit-mask-image: linear-gradient(to right, transparent, white 15%, white 100%);
    overflow: hidden;
}

@keyframes sliders {
    to {
        transform: translate(calc(-50% - 24px));
    }
}

.section__process{
    height: var(--height__large);
}

.section__process--innercontainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(./media/Group\ 111.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    flex-direction: column;
    gap: 64px
}

.section__process__innercontanier__top {
    width: 80%;
    max-width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.section__process__innercontainer__bottom{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    gap: 48px;
;
}

.section__process__innercontainer--slidercontainer{
    width: 80%;
    overflow-x: scroll;

}

.section__process__innercontainer--slidercontainer::-webkit-scrollbar{

    display: none;

}


.section__process__innercontainer--sliderinnercontainer{
    display: flex;
    flex-direction: row;
    width: max-content;
    gap: 64px;
    padding: 0px 144px;
}

.section__process__innercontainer--slideritem{
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    border-radius: 32px;
    overflow: hidden;
}

.section__process__innercontainer--slideritem img{
    object-fit: cover;
}

.process__slider--1{
    background-image: linear-gradient(180deg,#65469E 0%, #342849 50% ,#060612 100% );
}


.process__slider--2{
        background-image: linear-gradient(180deg , #9E4681 0%, #422849 50% , #060612 100%);
}

.process__slider--3{
    background-image: linear-gradient(180deg,#9E6846 0%, #493728 50% ,#060612 100% );
}

.process__slider--4{
    background-image: linear-gradient(180deg,#9E5246 0%, #492828 50% ,#060612 100% );
}

.process__slider--3 img,.process__slider--4 img {
    margin-top: -64px;
}

.section__process__innercontainer--slideritem p ,.section__process__innercontainer--slideritem h4{
    text-align: start;
    padding: 0px 30px;
}

.section__process__innercontainer--slideritem h4{
    padding-top:24px
}

.section__process__innercontainer--buttoncontainer{
    width: 70%;
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.section__process__innercontainer--buttonleft,.section__process__innercontainer--buttonright{
    background-image: linear-gradient(180deg, #FFFFFF 0%,#B8B4FF 50%,#726AFF 100%);
    height: 20px;
    width: 20px;
    padding: 16px;
    border-radius: 500px;
    cursor: pointer;
}

.section__skills{
    display: flex;
    height: var(--height__large);
    align-items: center;
    justify-content: center;
    background-image: url(./media/Asset__Bg--Skills.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section__skills--innercontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 64px;
}

.section__skills__innercontainer--top{
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.section__skills__innercontainer--bottom{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;
}

.skills{
    width: 80px;
    height: 80px;
    padding: 40px 48px;
    object-fit: contain;
    border: solid #6B6767 1px;
    border-radius: 24px;
}

.section__projects{
    overflow: hidden;
    padding-bottom: 64px;
}


.section__projects--innercontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    width: 100%;
    align-items: center;
}

.section__projects__innercontainer--top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.section__projects__innercontainer--bottom{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 32px;
    align-items: center;
    justify-content: center;
    
}

.section__projects__innercontainer--projectitem{
    width:550px;
    height: 350px;
    display: flex;
    position: relative;
    border-radius: 24px;
    overflow: hidden;
}

.section__projects__innercontainer--projectimage{
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition: ease;
    transition-duration: 1s;
}

.section__projects__innercontainer--projectimage:hover{
    filter: opacity(0.5);
}


.title__project,.tagcontainer{
   display: none;
   transition: ease;
   transition-duration: 1s;
}

.title__project--visible{
    display: inline-block;
    position:absolute;
    bottom: 48px;
    left: 32px;
    transition: ease-in-out;
    transition-duration: 1s;
    font-size: 32px;
    font-family: var(--font__Secondary);
    font-weight: 600;
}

.tagscontainer--visible{
     display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    gap: 32px;
}

